





body{
    background-color: #CDEDFB;
}

.block{

    height: 500px;



}

.block_colm{

    height: 400px;
    display: flex;
    justify-content: center;
}
.block_item{
    background-color: whitesmoke;
    height: 400px;
    width: 400px;
    border: black 2px solid;
    margin-right: 200px ;
    margin-left: 200px;
    border-radius: 20px;
}

.header1{

    height: 60px;
    border-radius: 20px;
    background-color: cornflowerblue;

}
textarea{
    width: 400px;
    height: 400px;
    border-radius: 20px;
    resize: none;

}